<!doctype html>
<html>
   <head>
      <title>Image Encrpt</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href= "{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
   </head>
   <body style="padding: 48px;" align="center">
      <div style="padding: 24px">
         <h1 style="color: #444444">SECRET MESSAGING</h1>
      </div>
      <div style="padding: 16px; font-size: 22px;">
         <a href="/keys" style="margin: 16px;">Generate Keys</a>
         <a href="/sender" style="margin: 16px;">Sender</a>
         <a href="/receiver" style="margin: 16px;">Receiver</a>
      </div>
      
   </body>
</html>