<!doctype html>
<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href= "{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 py-4 px-0">
                <div class="py-3 text-center text-light bg-primary rounded">
                    <div class="h3 pt-3 pb-4">SECRET MESSAGING with RSA and LSB</div>
                    <div class="py-1">
                        <a href="/sender" class="btn btn-light ">Sender Page</a>
                        <a href="/receiver" class="btn btn-success mx-3">Receiver Page</a>
                        <a href="/keys" class="btn btn-warning">Generate Key</a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-8 py-4 rounded border border-primary">

                    <div class="py-3">
                        <div class="py-1 py-2">To generate keys click the Generate Button below.</div>
                        <form action="/keys" method="POST">
                            <button type="submit" class="btn btn-primary">Generate Keys</button>
                        </form>
                    </div>
            
                    <div class="py-3">
                        <div class="py-3 h5 bg-success text-light p-3 rounded text-center">RESULT</div>
                        <div class="py-3">
                            <h4>Private Key</h4>
                            <p>Use private to decrypt the text.</p>
                            <a href="{{ privateKey }}" class="btn btn-success">Download Private Key File</a>        
                        </div>
                        <div class="py-3">
                            <h4>Public Key</h4>
                            <p>Use public to encrypt the text.</p>
                            <a href="{{ publicKey }}" class="btn btn-success">Download Public Key File</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</body>

</html>