<!DOCTYPE html>

<html>

<head>
    <title>Sender</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <link href="{{url_for('static',filename='fontawesome/css/all.css')}}" rel="stylesheet">


    <script>
        $(function () {
            $("#imgInputFile").change(function (e) {
                for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {
                    var file = e.originalEvent.srcElement.files[i];
                    var reader = new FileReader();
                    reader.onloadend = function () {
                        $("#imgInput").attr("src", reader.result);
                        $("#imgInput").show();
                    }
                    reader.readAsDataURL(file);
                }
            });
        })
    </script>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center py-3">
            <div class="col-8 p-0 pb-4 border border-primary rounded bg-primary">
                <div class="pt-4 bg-primary text-light text-center d-flex flex-row px-3">
                    <div class="">
                        <a href="/" class="text-light h4"><i class="fa fa-home"></i></a>
                    </div>
                    <div class="h5 flex-grow-1 w-100 ">Sender - Hide</div>
                   
                </div>

                <div class="p-3">
                    <div class="border border-primary rounded bg-white">
                        <div class="text-danger text-center p-2"><b>{{errorText}}</b></div>

                        <!-- Input -->
                        <form action="/sender2-do" method="POST" enctype="multipart/form-data">
                            <div class="p-3">
                                <div class="p-1 text-muted">Encrypted Message</div>
                                <div class="d-flex flex-column">
                                    <div class="py-2">
                                        <textarea rows="3" name="encryptedText" class="form-control bg-light" placeholder="Encrypted Message">{{ encryptedText }}</textarea>
                                    </div>
                                    <div class="p-1 rounded border bg-success" style="max-width: 260px;">
                                        <input type="file" name ="encryptedTextFile" class="text-white"/> 
                                    </div>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="p-1 text-muted">Select Cover Image</div>
                                <div class="d-flex flex-column">
                                    <div class="pb-2">
                                        {% if imgOutput|length >0 %}
                                        <img class="img-fluid img-thumbnail" src="{{ imgOutput }}" alt="Uploaded Image" id="imgInput"/>
                                        {% else %}
                                        <img class="img-fluid img-thumbnail" src="" alt="Uploaded Image" id="imgInput" style="display: none;"/>
                                        {% endif %}
                                    </div>
                                    <div class="p-1 rounded border bg-success" style="max-width: 260px;">
                                        <input type="file" name ="imgInputFile" class="text-white" accept="image/*" id="imgInputFile"/> 
                                    </div>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="p-1 text-muted">Stego Key</div>
                                <div class="p-1">
                                    <input type="password" name="stegoKey" class="form-control d-inline" placeholder="Stego key" style="max-width: 260px;" required/>
                                </div>
                            </div>
                            <div class="p-3 text-center">
                                <button class="btn btn-success" type="submit"><i class="fa fa-check pr-2"></i>Hide in Image</button>
                            </div>
                        </form>
                    </div>

                    <!-- Output -->
                    {% if imgOutput|length > 0 %}
                    <div class="p-3 bg-white rounded mt-4">
                        <div class="p-1 text-muted">Stego Image</div>
                        <img class="img-fluid img-thumbnail" src="{{ imgOutput }}" alt="resultedImage" />
                        <div class="py-2">
                            <a href="{{ imgOutput  }}" class="btn btn-success"><i class="fa fa-save pr-2"></i>Save Image</a>
                        </div>
                    </div>

                    <div class="p-3 bg-white rounded mt-4">
                        <div class="text-primary font-weight-bold h5 py-3 px-1">Image Comparasion</div>
                        <div class="d-flex flex-row">
                            <div>
                                <img class="img-fluid img-thumbnail" src="{{ imgInput }}" alt="originalImage" />
                                <div class="text-secondary text-center">Original Image</div>
                                <div class="text-primary text-center">pixel {{osize}}</div>
                                <div class="text-primary text-center">file size: {{ofsize}} KB</div>
                            </div>
                            <div>
                                <img class="img-fluid img-thumbnail" src="{{ imgOutput }}" alt="resultedImage" />
                                <div class="text-secondary text-center">Stego Image</div>
                                <div class="text-primary text-center">pixel {{nsize}}</div>
                                <div class="text-primary text-center">file size : {{nfsize}} KB</div>
                            </div>
                        </div>

                    </div>

                    {% endif %}
                </div>

            </div>

        </div>
        
    </div>

</body>

</html>