<!DOCTYPE html>

<html>

<head>
    <title>Sender</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>

    <script>
        $(function () {
            $("#imgInputFile").change(function (e) {
                for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {
                    var file = e.originalEvent.srcElement.files[i];
                    var reader = new FileReader();
                    reader.onloadend = function () {
                        $("#imgInput").attr("src", reader.result)
                    }
                    reader.readAsDataURL(file);

                }
            });
        })
    </script>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 py-4 px-0">
                <div class="py-3 text-center text-light bg-primary rounded">
                    <div class="h3 pt-3 pb-4">SECRET MESSAGING with RSA and LSB</div>
                    <div class="py-1">
                        <a href="/sender" class="btn btn-light ">Sender Page</a>
                        <a href="/receiver" class="btn btn-success mx-3">Receiver Page</a>
                        <a href="/keys" class="btn btn-warning">Generate Key</a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row justify-content-center py-3">
            <div class="col-8 p-3 py-4 border border-primary rounded">
                <h3 class="text-center">Sender</h3>
                <div class="text-danger"><b>{{errorText}}</b></div>
                <form action="/sender" method="POST" enctype="multipart/form-data">
                    <div class="py-2">
                        <div>Secret message text file</div>
                        <input type="file" name ="secTextFile" class="form-control" /> 
                    </div>
                    <div class="py-2">
                        <div>Public key to encrypt.</div>
                        <input type="file" name ="pubKeyFile" class="form-control" /> 
                    </div>
                    <div class="py-2">
                        <label>Image to use in encryption.</label>
                        <input class="form-control" type="file" name="imgInput" accept="image/png" id="imgInputFile" />
                        <div class="py-2">
                            <img class="img-fluid img-thumbnail" src="{{ imgOutput }}" alt="Uploaded Image" id="imgInput" />
                        </div>
                    </div>
                    <div class="py-2">
                        <input class="btn btn-block btn-primary" type="submit" value="Submit to Encrypt" />
                    </div>
                </form>
           
                <hr>
                <div class="py-3">
                    <div class="py-3 bg-success h5 text-light rounded text-center">RESULT</div>
                    <div class="py-2">Resulted Encrypted Text</div>
                    <div class="py-2">
                        <a href="{{ encryptedText  }}" class="btn btn-success">Download Encrypted Text File</a>
                    </div>
                    <div class="py-2">
                        <img class="img-fluid img-thumbnail" src="{{ imgOutput }}" alt="resultedImage" />
                    </div>  
                    <div class="py-2">
                        <a class="btn btn-success" href="{{ imgOutput }}" alt="resultedImage" >Download Resulted Image</a>
                    </div>  
                </div>

            </div>


        </div>
        
    
    </div>

</body>

</html>