<!DOCTYPE html>

<html>

<head>
    <title>Sender</title>
</head>

<body style="padding: 48px; font-size: 20px;" align="center">

    <div style="display: inline-block;" align="left">
        <div style="font-size: 18px">
            <a href="/">Home</a>
        </div>
        <h2>Encrypt secret text you want to send.</h2>
        <div style="color: red;font-size: 20px; padding-left: 16px">{{errorText}}</div>
        <form action="/sender" method="POST" enctype="multipart/form-data">
            <div style="padding: 8px;">
                <div style="padding-top: 4px; padding-bottom: 4px;">Secret message text.</div>
                <textarea name="text" rows="2" cols="50" placeholder="Secret text (max-100)"
                    style="font-size: 16px; padding: 2px;" required></textarea>
            </div>
            <div style="padding: 8px;">
                <div style="padding-top: 4px; padding-bottom: 4px;">Public key to encrypt.</div>
                <textarea name="publicKey" rows="2" cols="50" style="padding: 8px;font-size: 16px;"
                    placeholder="Enter public key here." required></textarea>
            </div>
            <div style="padding: 8px;">
                <input type="submit" style="font-size: 16px; padding:2px;" value="Submit to Encrypt" />
            </div>
        </form>
        <br>
        <hr>
        <div style="padding: 16px;">
            <div style="padding-top: 4px; padding-bottom: 4px;">Encrypted text</div>
            <textarea readonly rows="4" cols="50" style="padding: 8px;font-size: 16px;"
                placeholder="Encrypted text will be shown here.">{{encryptedText}}</textarea>
        </div>
    </div>

</body>

</html>